body{
  font: 300 17px/1.58 "Raleway", Arial, sans-serif;
  color: #262626;

}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-grid + .ba-grid {
    margin-top: 30px;
}


.ba-grid > [class*="ba-width-"] {
    float: left;
    padding-left: 30px;
}

.ba-grid {
    margin-left: -30px;
}

.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}
.ba-fresh {
	position: relative;
	padding: 20px 0;
	min-height: 100vh;
	background: #fff url(../img/fresh.jpg) 50%;
	background-size: cover;
}

/*ba-header*/
.ba-header {
	height: 147px;
	max-width: 100%;
	font-size: 16px;
	line-height: 147px;
  	font-family: "Raleway";
  	color: rgb(38, 38, 38);
	font-weight: bold;
	line-height: 1.563;
	text-align: right;
	text-transform: uppercase;
	text-decoration: none;
}

.ba-logo {
	padding-left: 0;
	vertical-align: middle;

}
.ba-menu {
	list-style: none;
	padding: 0;

}
.ba-menu .ba-active{
	border-top: 3px solid red;
}
.ba-menu > li {
	position: relative;
	display: inline-block;
	margin-right: 39px;
}

.ba-menu li:last-child {
	margin-right: 0;
}
.ba-menu li a{

	font-size: 16px;
  	font-family: "Raleway";
	display: block;
	padding:0;
	text-decoration: none;
	font-weight: bold;
	text-align: right;
	color:rgb(38, 38, 38);
}

/*ba-banner*/
.ba-banner {
	width: 100%;
	padding: 216px 0px 405px 0px;
}
.ba-banner__title {
	font-size: 50px;
	font-weight: 900;
	color: rgb(38, 38, 38);
	text-align: left;
}
.ba-banner p {
	width: 370px;
  	font-size: 17px;
  	color: rgb(38, 38, 38);
  	line-height: 1.588;
}
.ba-banner .ba-button {
	width: 200px;
	height: 55px;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
  	font-size: 20px;
  	padding:15px 20px;
	margin-top: 50px;
  	color: rgb(255, 255, 255);
 	line-height: 1.35;
  	background-color: rgb(255, 96, 51);
 	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.ba-banner .scroll {
  	position: absolute;
  	left: 800px;
  	bottom: 69px;
  	width: 30px;
  	height: 45px;
}
/*ba-about-us*/
.ba-about-us {
	padding: 70px 0;
	background: #00c4c4;
}
.ba-about-us__title {
	margin-left: 85px;
	margin-top: 109px;
	color: #fff;
	font-size: 90px;
	font-weight: bold;
	line-height: 0.3;
}
.ba-about-us__text {
	margin-top: 30px;
	margin-left: 85px;
	color: #fff;
	font-size: 17px;
	line-height: 1.588;
	text-align: left;
}

/*ba-services*/
.ba-services {
	background: #70bfff;
	padding: 100px 0 151px;
}
.ba-services__list {
	margin-top: 80px;
	padding-left: 100px;
}
.ba-services__list li {
	width: 400px;
	height: 100px;
	margin-bottom: 20px;
	line-height: 27px;
	vertical-align: middle;
	text-align: center;
	padding-right: 100px;
	background-color: #FFF;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	display: table;

}
.ba-services li a {
	font-size: 20px;
  	color: rgb(38, 38, 38);
  	font-weight: bold;
	text-decoration: none;
}
.ba-services li a:after {
	content: "";
	display: block;
	top:0;
	left:300px;
	position: absolute;
	width: 1px;
	height: 100%;
	background: #9d9d9d;
}
.ba-services img {
	position: absolute;
	top:27%;
	left:325px;
}

.ba-services__tomato {
	position: relative;
	background: #70bfff url(../img/gallery//tomato.png) 50%;
	background-size: cover;
	margin-left: 138px;
	height: 527px;
	width: 462px;
}
.ba-services__title {
	position: absolute;
	top:calc(50% - 33px);
	left:-85px;
	font-size: 90px;
	color:#fff;
	line-height: 66px;
	margin: 0;
}
